In [4]:
from google.colab import drive #importa o "conecta" con mi unidad de Drive
drive.mount('/content/drive')

import pandas as pd
nba = pd.read_excel('/content/drive/MyDrive/dataAnalysis/Nba Teams.xlsx')

nba

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Name,Team,Division,Position,Height,Weight,Birth_Date,College,Salary,Country
0,Bogdan Bogdanovic,Atlanta Hawks,SouthEast,G,6'6,220.0,1992-08-18,NaN,18000000.0,RS
1,Brandon Goodwin,Atlanta Hawks,SouthEast,G,NaN,180.0,1995-10-02,Central Florida,1701593.0,US
2,Bruno Fernando,Atlanta Hawks,SouthEast,F,6'9,240.0,1998-08-15,Maryland,1517981.0,AO
3,Cam Reddish,Atlanta Hawks,SouthEast,F,6'8,218.0,1999-09-01,Duke,NaN,US
4,Clint Capela,Atlanta Hawks,SouthEast,C,6'10,240.0,1994-05-18,NaN,16000000.0,CH
...,...,...,...,...,...,...,...,...,...,...
493,Rui Hachimura,Washington Wizards,SouthEast,F,6'8,230.0,1998-02-08,Gonzaga,4692840.0,JP
494,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
495,Russell Westbrook,Washington Wizards,SouthEast,G,6'3,200.0,1988-11-12,UCLA,41358814.0,US
496,Thomas Bryant,Washington Wizards,SouthEast,C,6'10,248.0,1997-07-31,Indiana,8333333.0,US
497,Troy Brown Jr.,Washington Wizards,SouthEast,G-F,6'6,215.0,1999-07-28,Oregon,3372840.0,US

In [2]:
nba["Salary"]
#Imprime la información contenida en la columna "Salary"

0      18000000.0
1       1701593.0
2       1517981.0
3             NaN
4      16000000.0
          ...
493     4692840.0
494           NaN
495    41358814.0
496     8333333.0
497     3372840.0
Name: Salary, Length: 498, dtype: float64

In [7]:
#nba["Salary"].add(50000)
  #Se le puede sumar una cantidad a la columna "Salary"
nba["Name"].add(" García")
  #O incluso se le puede agregar contenido al string

0      Bogdan Bogdanovic García
1        Brandon Goodwin García
2         Bruno Fernando García
3            Cam Reddish García
4           Clint Capela García
                 ...
493        Rui Hachimura García
494                         NaN
495    Russell Westbrook García
496        Thomas Bryant García
497       Troy Brown Jr. García
Name: Name, Length: 498, dtype: object

In [9]:
#nba["Salary"] + 2000000
  #Otra forma de escribir la suma de cantidades al contenido de la columna
nba["Name"] + " García"
  #También aplica para contenido diferente a números

0      Bogdan BogdanovicGarcía
1        Brandon GoodwinGarcía
2         Bruno FernandoGarcía
3            Cam ReddishGarcía
4           Clint CapelaGarcía
                ...
493        Rui HachimuraGarcía
494                        NaN
495    Russell WestbrookGarcía
496        Thomas BryantGarcía
497       Troy Brown Jr.García
Name: Name, Length: 498, dtype: object

In [10]:
nba["bonus_salary"] = nba["Salary"] + 30000
#Añade una columna llamada "bonus_salary" y le asigna el valor de otra columna modificada
nba

,Name,Team,Division,Position,Height,Weight,Birth_Date,College,Salary,Country,bonus_salary
0,Bogdan Bogdanovic,Atlanta Hawks,SouthEast,G,6'6,220.0,1992-08-18,NaN,18000000.0,RS,18030000.0
1,Brandon Goodwin,Atlanta Hawks,SouthEast,G,NaN,180.0,1995-10-02,Central Florida,1701593.0,US,1731593.0
2,Bruno Fernando,Atlanta Hawks,SouthEast,F,6'9,240.0,1998-08-15,Maryland,1517981.0,AO,1547981.0
3,Cam Reddish,Atlanta Hawks,SouthEast,F,6'8,218.0,1999-09-01,Duke,NaN,US,NaN
4,Clint Capela,Atlanta Hawks,SouthEast,C,6'10,240.0,1994-05-18,NaN,16000000.0,CH,16030000.0
...,...,...,...,...,...,...,...,...,...,...,...
493,Rui Hachimura,Washington Wizards,SouthEast,F,6'8,230.0,1998-02-08,Gonzaga,4692840.0,JP,4722840.0
494,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
495,Russell Westbrook,Washington Wizards,SouthEast,G,6'3,200.0,1988-11-12,UCLA,41358814.0,US,41388814.0
496,Thomas Bryant,Washington Wizards,SouthEast,C,6'10,248.0,1997-07-31,Indiana,8333333.0,US,8363333.0
497,Troy Brown Jr.,Washington Wizards,SouthEast,G-F,6'6,215.0,1999-07-28,Oregon,3372840.0,US,3402840.0

In [21]:
#nba["Salary"]
#nba["Salary"].sub(55000)
  #La forma de restarle una cantidad al contenido de una columna, en este caso no aplica para str
nba["Salary"] - (55000)
  #Otra forma, simplemente con el signo

0      17945000.0
1       1646593.0
2       1462981.0
3             NaN
4      15945000.0
          ...
493     4637840.0
494           NaN
495    41303814.0
496     8278333.0
497     3317840.0
Name: Salary, Length: 498, dtype: float64

In [23]:
#nba["Salary"].div(1000000)
  #Operador para división del contenido de una columna
nba["Salary"]/1000000
  #Utilizando el signo

0      18.000000
1       1.701593
2       1.517981
3            NaN
4      16.000000
         ...
493     4.692840
494          NaN
495    41.358814
496     8.333333
497     3.372840
Name: Salary, Length: 498, dtype: float64

In [26]:
#nba["Weight"].mul(0.453592)
  #Operador de multiplicación al contenido de una columna
nba["Weight"]*0.453592
  #Operador con el signo

0       99.790240
1       81.646560
2      108.862080
3       98.883056
4      108.862080
          ...
493    104.326160
494           NaN
495     90.718400
496    112.490816
497     97.522280
Name: Weight, Length: 498, dtype: float64